$black--5: rgba(0, 0, 0, 0.05);

$black-two: #000000;

$black-lp: #010101;

$pale-red: #e04141;

$lightblue-two: #7ecbee;

$black--80: rgba(0, 0, 0, 0.8);

$white: #ffffff;

$apple-green: #80c92a;

$grass: #66a122;

$black--20: rgba(0, 0, 0, 0.2);

$light-eggplant: #8e3d84;

$dark-lilac: #a5649d;

$white---20: rgba(255, 255, 255, 0.2);

$grape: #72316a;

$pea: #a9b21f;

$lipstick: #e21a23;

$faded-red: #e8484f;

$baby-shit-green: #878e19;

$light-olive-green: #bac14c;

$rouge: #b5151c;

$kiwi-green: #8ddc2f;

$black--30: rgba(0, 0, 0, 0.3);

$darkish-blue: #003995;

$avocado-green: #71b026;

$white-two: #f7f7f7;

$white-form: #dadada;

$white-three: #e5e5e5;

$kiwi-green-two: #a4e359;

$flat-blue: #3361aa;

$marine-blue-two: #002e77;

$white-four: #f2f2f2;

$ocean-blue: #0076ab;

$deep-sea-blue: #005980;

$black--40: rgba(0, 0, 0, 0.4);

$greyish: #b2b2b2;

$black: #333333;

$brownish-grey: #666666;

$warm-grey: #999999;

$marine-blue: #003b56;

$black-60: rgba(0, 0, 0, 0.6);

$pinkish-grey: #cccccc;

$cerulean: #0094d6;

$soft-blue: #66bfe6;

$white--40: rgba(255, 255, 255, 0.4);

$duck-egg-blue: #cceaf7;

$white---80: rgba(255, 255, 255, 0.8);

$dark-sky-blue: #33a9de;

$lightblue: #99d4ef;

$white---60: rgba(255, 255, 255, 0.6);

$light-orange: #fab158;

$mango: #f99e2e;

$strawberry: #e8474f;

$brownish-orange: #c77e25;

$windows-blue: #3391bc;

$wild-sand: #f5f5f5;

$prussian-blue: #004766;

$iron: #d1d3d4;

// Branding colors
$primary-color: #0093d6;
$primary-color-hover: #1fa1db;
$about-us-info: #0285bd;

$footer-bg: #0076ab;
$footer-column-title: #66bfe6;
$footer-date-color: #98d8f4;
$your-success-section-bg: #93ddfe;
$your-success-section-blue-text: #314b92;

// names more general

$blue-dark: $your-success-section-blue-text;
