@font-face {
  font-family: 'BrandonGrotesqueWeb-BoldItalic';
  src: url('../fonts/webfonts/3365BC_0_0.eot');
  src: url('../fonts/webfonts/3365BC_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/3365BC_0_0.woff2') format('woff2'),url('../fonts/webfonts/3365BC_0_0.woff') format('woff'),url('../fonts/webfonts/3365BC_0_0.ttf') format('truetype');
}


@font-face {
  font-family: 'BrandonGrotesqueWeb-Bold';
  src: url('../fonts/webfonts/3365BC_1_0.eot');
  src: url('../fonts/webfonts/3365BC_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/3365BC_1_0.woff2') format('woff2'),url('../fonts/webfonts/3365BC_1_0.woff') format('woff'),url('../fonts/webfonts/3365BC_1_0.ttf') format('truetype');
}


@font-face {
  font-family: 'BrandonGrotesqueWeb-Black';
  src: url('../fonts/webfonts/3365BC_2_0.eot');
  src: url('../fonts/webfonts/3365BC_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/3365BC_2_0.woff2') format('woff2'),url('../fonts/webfonts/3365BC_2_0.woff') format('woff'),url('../fonts/webfonts/3365BC_2_0.ttf') format('truetype');
}


@font-face {
  font-family: 'BrandonGrotesqueWeb-Regular';
  src: url('../fonts/webfonts/3365BC_3_0.eot');
  src: url('../fonts/webfonts/3365BC_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/3365BC_3_0.woff2') format('woff2'),url('../fonts/webfonts/3365BC_3_0.woff') format('woff'),url('../fonts/webfonts/3365BC_3_0.ttf') format('truetype');
}


@font-face {
  font-family: 'BrandonGrotesqueWeb-Italic';
  src: url('../fonts/webfonts/3365BC_4_0.eot');
  src: url('../fonts/webfonts/3365BC_4_0.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/3365BC_4_0.woff2') format('woff2'),url('../fonts/webfonts/3365BC_4_0.woff') format('woff'),url('../fonts/webfonts/3365BC_4_0.ttf') format('truetype');
}


@font-face {
  font-family: 'BrandonGrotesqueWeb-Medium';
  src: url('../fonts/webfonts/336692_1_0.eot');
  src: url('../fonts/webfonts/336692_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/336692_1_0.woff2') format('woff2'),url('../fonts/webfonts/336692_1_0.woff') format('woff'),url('../fonts/webfonts/336692_1_0.ttf') format('truetype');
}


@font-face {
  font-family: 'BrandonGrotesqueWeb-MediumItalic';
  src: url('../fonts/webfonts/336692_0_0.eot');
  src: url('../fonts/webfonts/336692_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/336692_0_0.woff2') format('woff2'),url('../fonts/webfonts/336692_0_0.woff') format('woff'),url('../fonts/webfonts/336692_0_0.ttf') format('truetype');
}
