$margin-general-mobile:15px;
$margin-general-desktop:95px;
$mobile-menu-bg-color: $white;
$radius-button: 18px;

$font-regular: 'BrandonGrotesqueWeb-Regular';
$font-bold: 'BrandonGrotesqueWeb-Bold';
$font-italic: 'BrandonGrotesqueWeb-Italic';
$font-black: 'BrandonGrotesqueWeb-Black';
$font-medium: 'BrandonGrotesqueWeb-Medium';

$breakpoint-mobile: 320px;
$breakpoint-tablet-ipad: 768px;
$breakpoint-tablet: 992px;
$breakpoint-tablet-ipad-landscape: 1024px;
$breakpoint-desktop-narrow: 1180px;
$breakpoint-desktop: 1366px;
