.speakers-block
{
	background: url('../images/internal/converge/speakers-patternBg.png') repeat-y top center;
	padding: 30px 0 40px;
    .speakers
    {
    	margin: 0 auto;
    	h2
    	{
    		text-align: center;
    	}

    }
}